In [4]:
import pandas as pd
import category_encoders as ce


data = {'Category': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C']}
df = pd.DataFrame(data)

df

  Category
0        A
1        B
2        C
3        A
4        B
5        C
6        A
7        B
8        C

In [5]:
df.shape

(9, 1)

In [7]:
encoder = ce.BinaryEncoder(cols=['Category'],return_df=True)

df_binary_encoded = encoder.fit_transform(df)
df_binary_encoded

   Category_0  Category_1
0           0           1
1           1           0
2           1           1
3           0           1
4           1           0
5           1           1
6           0           1
7           1           0
8           1           1