In [80]:
import seaborn as sns
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [82]:
df['sex'].value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [83]:
df['smoker'].value_counts()

smoker
No     151
Yes     93
Name: count, dtype: int64

In [84]:
df['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [85]:
df['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [86]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [87]:
#Independent and dependent feartures
x = df[['tip','sex','smoker','day','time','size']]
y=df['total_bill']

In [88]:
# trian test split
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.25,random_state=1)

xtrain.head()

     tip     sex smoker   day    time  size
236  1.0    Male    Yes   Sat  Dinner     2
169  2.0  Female    Yes   Sat  Dinner     2
78   3.0    Male     No  Thur   Lunch     2
47   6.0    Male     No   Sun  Dinner     4
194  4.0    Male    Yes  Thur   Lunch     2

In [89]:
## Feature Encoding (Label and onehot encoding)
from sklearn.preprocessing import LabelEncoder

In [90]:
le1=LabelEncoder()
le2=LabelEncoder()
le3=LabelEncoder()

In [91]:
import warnings
warnings.filterwarnings('ignore')
xtrain['sex'] =le1.fit_transform(xtrain['sex'])
xtrain['smoker'] = le2.fit_transform(xtrain['smoker'])
xtrain['time'] = le3.fit_transform(xtrain['time'])

In [92]:
xtrain.head()

     tip  sex  smoker   day  time  size
236  1.0    1       1   Sat     0     2
169  2.0    0       1   Sat     0     2
78   3.0    1       0  Thur     1     2
47   6.0    1       0   Sun     0     4
194  4.0    1       1  Thur     1     2

In [93]:
xtest['sex'] =le1.transform(xtest['sex'])
xtest['smoker'] = le2.transform(xtest['smoker'])
xtest['time'] = le3.transform(xtest['time'])

In [94]:
xtest.head()

      tip  sex  smoker   day  time  size
67   1.00    0       1   Sat     0     1
243  3.00    0       0  Thur     0     2
206  3.41    1       1   Sat     0     3
122  2.50    1       0  Thur     1     2
89   3.00    1       0  Thur     1     2