In [14]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [15]:
data = {'Feature1' : [1,5,10,4,5],
        'Feature2':[6,7,8,19,10]}
df = pd.DataFrame(data)
df

   Feature1  Feature2
0         1         6
1         5         7
2        10         8
3         4        19
4         5        10

In [16]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data,columns=df.columns)
df

   Feature1  Feature2
0         1         6
1         5         7
2        10         8
3         4        19
4         5        10

In [17]:
scaled_df

   Feature1  Feature2
0  0.000000  0.000000
1  0.444444  0.076923
2  1.000000  0.153846
3  0.333333  1.000000
4  0.444444  0.307692