In [4]:
import pandas as pd
data ={'Feature1' : [1,20,3,40,5],
       'Feature2': [6,7,18,19,10]}

df = pd.DataFrame(data)

In [7]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
standardized_data = scaler.fit_transform(df)
standardized_data = pd.DataFrame(standardized_data,columns=df.columns)
df

   Feature1  Feature2
0         1         6
1        20         7
2         3        18
3        40        19
4         5        10

In [8]:
standardized_data

   Feature1  Feature2
0 -0.869803 -1.095445
1  0.421311 -0.912871
2 -0.733896  1.095445
3  1.780378  1.278019
4 -0.597989 -0.365148